<div class="forum-section">
    <div class="forum-section-title">
        <h2 class="dos-font">
            @TitleName
        </h2>
    </div>
    <div>
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string TitleName { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}