.forum-topic {
    display: flex;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: solid;
    border-width: 1px;
    margin: 1px;
    border-color: #00ff58;
    width: 99%;
    margin-right: 0;
    margin-left: auto;
}

    .forum-topic-text {
        margin: 0
    }