@using StellumbraSite.Components.Hypertext

<div class="forum-topic">
    <div class="forum-section-child">
        <CustomHypertext HasBlinkingArrow Href=@($"{@Href}")>
            @ChildContent
        </CustomHypertext>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Href { get; set; }
}