.forum-section {
    border-color: #00ff58;
    width: 80vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.forum-section-title {
    border-bottom: solid;
    border-color: #00ff58;
    margin-top: auto;
    margin-bottom: 10px;
}

.forum-section-child {
    display: flex;
    border: solid;
    vertical-align: middle;
    padding-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
}