@inject IJSRuntime JS

@using StellumbraSite.Data

<div>
    <div id="@EditorId" style="height: 300px; background-color: white"></div>
    <button type="button" @onclick="Submit">Submit</button>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public EventCallback OnClick { get; set; }
    private string EditorId = "editor";
    public string HtmlContent;

    private ValueTask<string> submitTask;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("quillEditor.initialize", EditorId);
        }
    }
    private async Task Submit()
    {
        try
        {
            submitTask = JS.InvokeAsync<string>("quillEditor.onSubmit");
            HtmlContent = await submitTask;
            await OnClick.InvokeAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Submit failed: {e.Message}");
        }
    }
    public async Task<string> GetQuillHTMLContent()
    {
        if (submitTask == default)
        { 
            throw new Exception("Must submit first");
        }

        await submitTask;

        return HtmlContent;
    }
}