@using StellumbraSite.Model
@using StellumbraSite.Components.Text
@using StellumbraSite.Components.Other
@using StellumbraSite.Components.Hypertext

@inherits LayoutComponentBase

<div class="top-nav px-4 py-2">
    <div style="width: 20%;  display:flex; justify-content: left; height: 100%;">
        <img src="images/logo.png" style="image-rendering: pixelated;" />
    </div>

    <div style="width: 80%; display: flex; gap: 4rem; justify-content: center;">
        <CustomHypertext Style="font-size: 20px" HasBlinkingUnderline=true href="/">Home</CustomHypertext>
        <CustomHypertext Style="font-size: 20px" HasBlinkingUnderline=true href="/news/1">News</CustomHypertext>
        <CustomHypertext Style="font-size: 20px" HasBlinkingUnderline=true href="/forum">Forum</CustomHypertext>
        <CustomHypertext Style="font-size: 20px" HasBlinkingUnderline=true href="/wiki-placeholder">Wiki</CustomHypertext>
    </div>

    <div style="width: 20%; justify-content: right;" class="social-icons">
        <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.Discord"/>
        <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.Reddit"/>
        <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.Steam"/>
        <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.YouTube"/>
    </div>
</div>

<main>
    @Body
</main>

<div style="background-color: black">
    <div style="width: 100%; height: 100px">
    </div>
</div>
<div style="background-color: black; width: 100%; height: 150px; justify-content: center; align-items: center; position: relative;">
    <div style="width: 90%; height: 90%">
        <div style="position: absolute; top: 15%; left: 5%; display: flex; gap: 1em; align-items: center;">
            <img src="images/logo.png" style="image-rendering: pixelated;" />
            <DosSpan class="dos-font" Style="font-size: 32px">Cintech Studios</DosSpan>
        </div>
        <div class="social-icons" style="position: absolute; top: 15%; right: 5%;">
            <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.Discord" />
            <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.Reddit" />
            <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.Steam" />
            <Favicon Href="https://discord.gg/YOURINVITE" Company="FaviconOption.YouTube" />
        </div>
        <div>
            <p class="dos-font" style="position: absolute; bottom: 15%; left: 5%;">
                Stellumbra | Copyright © CinTech Studio 2025. All Rights Reserved.
            </p>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>