@inject NavigationManager Navigation

<a class="dos-font @contentClass" style="@(Style)" href="@Href" @onclick="@HandleClick"
@onmouseenter="OnEnter"
@onmouseleave="OnLeave">
    @if (showArrow && HasBlinkingArrow)
    {
        <span class="custom-hypertext-arrow">
            >
        </span>
    }

    <span>
        @ChildContent
    </span>
</a> 

@code {
    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool HasBlinkingArrow { get; set; } = false;
    [Parameter]
    public bool HasBlinkingUnderline { get; set; } = false;

    private string contentClass { get => HasBlinkingUnderline ? "blinking-underline-hypertext" : "custom-hypertext"; }

    private bool showArrow { get; set; } = false;

    private void OnEnter()
    {
        showArrow = true;
    }

    private void OnLeave()
    {
        showArrow = false;
    }
    private async void HandleClick(MouseEventArgs args)
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }

        Navigation.NavigateTo(Href, forceLoad: true);
    }
}