@inherits LayoutComponentBase

<main>
    <div class="forum-background">
        <div class="forum-navbar-background">
            <div style="display: flex; width: 100%;">
                <div style="width: 50%">
                    <a style="display: flex; width: fit-content;" href="youtube.com">
                        <h2>[Logo] Cintech Studios</h2>
                    </a>
                </div>

                <div style="display: flex; width: 50%; justify-content: right">
                    <a style="display: flex; width: fit-content;" href="youtube.com">
                        <p>Exiting user? Login.</p>
                    </a>
                    <a style="display: flex; width: fit-content;" href="youtube.com">
                        <div style="border: solid">
                            <p>Sign up</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        @Body
    </div>
</main>