<div class="custom-button">
    <a href=@Href>
        <p class="dos-font" style="@style">
            @ChildContent
        </p>
    </a>
</div>


@code {
    [Parameter]
    [EditorRequired]
    public string Href { get; set; }
    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string style { get; set; }
}