@page "/admin-dashboard"

<PageTitle>Admin-Dashboard</PageTitle>

<div class="generic-background">
	<h1>
		Actions
	</h1>
	<a href="/admin-post-news">
		<h2 class="dos-font">
			Post News
		</h2>
	</a>
</div>