@page "/forum"
@layout ForumLayout

<PageTitle>Forum</PageTitle>
<div class="forum-content-background">
    <ForumSection TitleName="General">
        <ForumTopic Href="steampowered.com">
            Hello
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            World
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            My Dude!
        </ForumTopic>
    </ForumSection>
    <ForumSection TitleName="General">
        <ForumTopic Href="steampowered.com">
            Hello
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            World
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            My Dude!
        </ForumTopic>
    </ForumSection>
    <ForumSection TitleName="General">
        <ForumTopic Href="steampowered.com">
            Hello
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            World
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            My Dude!
        </ForumTopic>
    </ForumSection>
</div>