@page "/wiki-placeholder"

<PageTitle>wiki-placeholder</PageTitle>

<div class="generic-background" style="display: flex; justify-content: center">
	<div>
		<h2 class="dos-font">
			No community-made wiki has been started yet.
		</h2>
	</div>
</div>