@page "/admin-post-news"

<PageTitle>Admin-Post-News</PageTitle>

<div class="generic-background" style="display: flex; justify-content: center">
	<div>
		<h1>
			Actions
		</h1>
		<a href="/admin-post-news">
			<h2 class="dos-font">
				Post News
			</h2>
		</a>
	</div>
</div>