@page "/forum"
@layout ForumLayout
@using StellumbraSite.Components.Shared

<PageTitle>Forum</PageTitle>
<div class="forum-content-background">
    <ForumSection TitleName="Stellumbra">
        <ForumTopicSection Href="/forum/posts/news/1">
            News
        </ForumTopicSection>
        <ForumTopicSection Href="/forum/posts/general/1">
            General
        </ForumTopicSection>
        <ForumTopicSection Href="/forum/posts/ideas/1">
            Suggestions & Ideas
        </ForumTopicSection>
        <ForumTopicSection Href="/forum/posts/support/1">
            Support
        </ForumTopicSection>
        <ForumTopicSection Href="/forum/posts/bugs/1">
            Bugs
        </ForumTopicSection>
        <ForumTopicSection Href="/forum/posts/mods/1">
            Mods
        </ForumTopicSection>
    </ForumSection>
    <ForumSection TitleName="Media">
        <ForumTopicSection Href="/forum/posts/videos/1">
            Videos
        </ForumTopicSection>
        <ForumTopicSection Href="/forum/posts/streams/1">
            Streams
        </ForumTopicSection>
    </ForumSection>
    <ForumSection TitleName="Other">
        <ForumTopicSection Href="/forum/posts/off-topic/1">
            Off-Topic
        </ForumTopicSection>
    </ForumSection>
</div>