@page "/newsviewer/{NewsID}"
@using StellumbraSite.Model

@inject HttpClient Http

<PageTitle>News Viewer</PageTitle>

@if (news == null)
{
    <p>Loading...</p>
}
else
{
    <div class="news-viewer-background">
        <div class="news-viewer">

            <h2 class="dos-font">@news.Title</h2>
            <p class="dos-font"><em>@news.DateTime.ToString()</em></p>
            @firstPostThreadOfPost.Content
        </div>
    </div>
}

@code {
    [Parameter]
    public string NewsID { get; set; }
    private NewsItem news;
    private ForumPost firstPostThreadOfPost;

    protected override async Task OnInitializedAsync()
    {
        news = await Http.GetFromJsonAsync<NewsItem>($"/api/News/GetNewsById/{NewsID}");
        firstPostThreadOfPost = await Http.GetFromJsonAsync<ForumPost>($"/api/Post/GetFirstPost/{news.ThreadId}");
    }
}