@page "/sign-up"
@using StellumbraSite.Components.Shared

<PageTitle>Forum</PageTitle>

<div class="forum-main-column">
    <ForumSection TitleName="Stellumbra">
        <ForumTopic Href="steampowered.com">
            General
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            Suggestions & Ideas
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            Support
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            Bugs
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            Mods
        </ForumTopic>
    </ForumSection>
    <ForumSection TitleName="Media">
        <ForumTopic Href="steampowered.com">
            Videos
        </ForumTopic>
        <ForumTopic Href="steampowered.com">
            Streams
        </ForumTopic>
    </ForumSection>
    <ForumSection TitleName="Other">
        <ForumTopic Href="steampowered.com">
            Off-Topic
        </ForumTopic>
    </ForumSection>
</div>