<p class="@Class" style="@Style">
	@ChildContent
</p>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }
	[Parameter]
	public string Class { get; set; } = "dos-font";
	[Parameter]
	public string? Style { get; set; }
}