@using StellumbraSite.Client.Models
@using StellumbraSite.Client.StellumbraSite_Client.Components.Shared

@inherits LayoutComponentBase

<main>
    <div class="forum-background">
        <div class="forum-navbar-background">

        </div>
        @Body
    </div>
</main>