@page "/wiki"

<PageTitle>Home</PageTitle>

<div style="
    width: 100vw;
    height: 800px;
    background-image: url('images/space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
">
    <h1 class="dos-font" style="position: relative; left: -200px;">Stellumbra</h1>
</div>
<div style="
    width: 100vw;
    height: 500px;
    background-image: url('images/space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <h1>Hello, world!</h1>
</div>
<div style="
    width: 100vw;
    height: 500px;
    background-image: url('images/space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <h1>Hello, world!</h1>
</div>

Welcome to your new app.
