@using StellumbraSite.Model

<a href="@Href" target="_blank">
	<img style="image-rendering: pixelated" src="@Src" @onmouseenter=OnMouseEnter @onmouseleave=OnMouseLeave/>
</a>

@code {
	[Parameter]
	public FaviconOption Company { get; set; }

	[Parameter]
	public string Href { get; set; }

	private bool mouseOver;
	private string Src
	{
		get => mouseOver ?
		$"images/favicon_{Company.ToString().ToLower()}_hovered.png" :
		$"images/favicon_{Company.ToString().ToLower()}.png";
	}
	private async Task OnMouseEnter(MouseEventArgs args)
	{
		mouseOver = true;
	}
	private async Task OnMouseLeave(MouseEventArgs args)
	{
		mouseOver = false;
	}
}
