@using StellumbraSite.Components.Buttons

<div class="modal-overlay">
	<h2>@PromptText</h2>
	<CustomFuncButton OnClick=OnConfirm>@ConfirmText</CustomFuncButton>
	<CustomFuncButton OnClick=OnDeny>@DenyText</CustomFuncButton>
</div>

@code {
	[Parameter]
	public string PromptText { get; set; }
	[Parameter]
	public string ConfirmText { get; set; }
	[Parameter]
	public string DenyText { get; set; }
	[Parameter]
	public EventCallback OnConfirm { get; set; }
	[Parameter]
	public EventCallback OnDeny { get; set; }
}